{% extends main_template %}

{% block additionalheader %}
  <script type="text/javascript" src="{{request.static_path('OpenWifiWeb:static/js/vis.js')}}"></script>
  <style type="text/css">
    html, body, .container, #content{
      height: 100%;
      width: 100%;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Config Graph {{confID}}</h1>
  <div class="row" style="height:100%;width:100%;">
    <div id="configGraph" class="col-md-10" style="height:100%;width:80%;">
    </div>
    <pre id="nodeInfo" class="col-md-10" style="height:100%;width:20%;">
    </pre>
  </div>

  <script type="text/javascript">
  
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            drawConfigGraph(xmlHttp.responseText);
    }
    xmlHttp.open("GET", "{{request.route_path('ManageMasterConfig', ID=confID)}}", true);
    xmlHttp.send(null);
  
    function drawConfigGraph(jsonString) {
        var jsonData = JSON.parse(jsonString);
        // create an array with nodes
        var nodes = new vis.DataSet(jsonData.nodes);
  
        // create an array with edges
        var edges = new vis.DataSet(jsonData.edges);
  
  
        var options = {
            layout: {
                hierarchical: {
                    direction: "LR",
                    sortMethod: "directed"
                }
            }
        };
  
        // create a network
        var container = document.getElementById('configGraph');
        var data = {
          nodes: nodes,
          edges: edges
        };
        //var options = {};
        var network = new vis.Network(container, data, options);

        network.on("click", function(params) {
            var selectedNode = params.nodes[0];

            if(!selectedNode)
                return;

            var requestNodeInfo = new XMLHttpRequest();

            requestNodeInfo.onreadystatechange = function() { 
                if (requestNodeInfo.readyState == 4 && requestNodeInfo.status == 200) {
                    var nodeInfo = JSON.parse(requestNodeInfo.responseText);

                    nodeInfoDiv = document.getElementById('nodeInfo');
                    nodeInfoDiv.innerHTML = JSON.stringify(nodeInfo, null, 4);
                    }
            }

            requestNodeInfo.open("GET", "{{request.route_path('MasterConfNodeInfo', NODE="")}}"+selectedNode, true);
            requestNodeInfo.send(null);
            })
    }
  </script>
{% endblock %}
